.appbar {
    background: var(--primary-color) !important;
    justify-content: center;
    display: flex;
}

.postalCodeBtn {
    border-radius: 5%/5%;
    height: 50px;
    margin: 5px;
    width: 100% !important;
    text-transform: capitalize !important;
    font-size: 1em !important;
}

.btn {
    border-radius: 5%/5%;
    height: 50px;
    margin: 5px;
    text-transform: capitalize !important;
    font-size: 1em !important;
}

.btn:hover {
    background-color: #3d3d42 !important;

}

.searchContainer {
    display: inline-flex;
    position: relative;
    height: 40px;
    width: 100% !important;
    border: none;
    border-radius: 10px / 10px;
    overflow: hidden;
}

.searchIcon {
    padding: 0.7rem;
    background-color: #3d3d42;
}

.searchBox {
    border: 0;
    background-color: #3d3d42;
    padding: 0rem 0.2rem 0rem 0.2rem;
    color: var(--white);
    width: 100% !important;
}


.centered {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row;
}


.col-lg-4 {
    display: flex;
    align-items: center !important;
}

.buttonImage {
    height: 25px !important;
    width: 27px !important;
    border-radius: 50%;
    margin: 5px;
    margin-right: 10px;
}

.downIco {
    margin-left: 20px !important;
    font-weight: 100 !important;
    margin: 5px !important;
    color: var(--white) !important;
}

.cart {
    font-size: 1.6em !important;
    text-align: center;
    color: var(--red) !important;
}

.righted {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: right !important;
}

.NavbarTop {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media(max-width: 600px) {
    /*.shopname {
        display: none !important;
    }*/
}

.LogoOrBack {
    display: flex;
    align-items: center !important;
}

.backButton {
    color: var(--red);
    background: transparent;
    font-size: 1em !important;
    border: none !important;
    transition: all 2s ease-out;
}


.backButton:hover .fa-chevron-left {
    margin-left: -5px !important;
    transition: all 2s ease-out;
    margin-right: 5px !important;
}

.fa-chevron-left {
    font-size: 1em !important;
}

@media(max-width: 1000px) {
    .buttonImage {
        position: absolute;
        top: 10px;
        left: 10px !important;
    }

    .downIco {
        position: absolute;
        top: 10px;
        right: 10px !important;
    }

    .AccountBtn {
        display: none !important;
    }
}

@media(max-width: 450px) {
    .backText {
        display: none !important;
    }
}