:root {
  --primary-color: #2c2c2e;
  --white: #d4d4d4;
  --dark: #0e0e10;
  --red: #ff0026;
  --red-rgb: 255, 0, 38;
}

body {
  background: var(--dark);
}

*:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.primary {
  background: var(--primary-color) !important;
  color: var(--white) !important;
}

.typography {
  color: var(--white) !important;
}


.StoreCard:hover,
.DealCard:hover,
.btn:hover,
.cart:hover {
  margin-top: -5px;
  cursor: pointer;
  transition: margin 0.3s ease-out;
}



a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
}