:root {
  --primary-color: #2c2c2e;
  --white: #d4d4d4;
  --red: #ff0026;
}

body {
  background: #0e0e10;
}

*:focus {
  outline: none;
}

.primary {
  background: var(--primary-color) !important;
  color: var(--white) !important;
}

.typography {
  color: var(--white) !important;
}

.appbar {
  background: var(--primary-color) !important;
  justify-content: center;
  display: flex;
}

.btn {
  border-radius: 5%/5%;
  height: 50px;
  text-transform: capitalize !important;
  font-size: 1em !important;
}

.btn:hover {
  background-color: #3d3d42 !important;
}

.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  height: 40px;
  border: none;
  border-radius: 10px / 10px;
  overflow: hidden;
}

.searchIcon {
  padding: 0.7rem;
  background-color: #3d3d42;
}

.searchBox {
  border: 0;
  background-color: #3d3d42;
  padding: 0rem 0.2rem 0rem 0.2rem;
  flex: 1;
  color: var(--white);
}

.box {
  height: auto;
  min-height: 180px !important;
  padding: 20px;
  min-width: 250px;
  border-radius: 5%/5%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3333s;
  flex-direction: column;
  background-color: #007cc2;
}

.box img {
  width: 150px;
}

.box span {
  margin-top: 50px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.box:hover,
.btn:hover,
.cart:hover {
  margin-top: -5px;
  cursor: pointer;
}

.card {
  background-color: transparent;
  padding: 0rem;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: .5rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 600px) {
  .shopname {
    display: none !important;
  }


}

.centered {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
}



.col-lg-4 {
  display: flex;
  align-items: center !important;
}

.buttonImage {
  height: 25px !important;
  width: 27px !important;
  border-radius: 50%;
  margin: 5px;
  margin-right: 10px;
}

.downIco {
  margin-left: 20px !important;
  font-weight: 100 !important;
  margin: 5px !important;
  color: var(--white) !important;
}

.cart {
  font-size: 1.6em !important;
  margin-top: 10px !important;
  margin-left: 15px !important;
  color: var(--red) !important;
}

.righted {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: right !important;
}

.NavbarTop {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
}