:root {
  --primary-color: #2c2c2e;
  --white: #d4d4d4;
  --red: #ff0026;
}

body {
  background: #0e0e10;
}

*:focus {
  outline: none;
}

.primary {
  background: var(--primary-color) !important;
  color: var(--white) !important;
}

.typography {
  color: var(--white) !important;
}


.box:hover,
.btn:hover,
.cart:hover {
  margin-top: -5px;
  cursor: pointer;
}



a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
}